<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781076267842-bk5h1f5ms2q2cuv2vr39sgma059hgfsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781076267842-bk5h1f5ms2q2cuv2vr39sgma059hgfsp</string>
	<key>API_KEY</key>
	<string>AIzaSyBln-X-fN7ofShh0xzcSCTTurnKFN3pKuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>781076267842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-86b30</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-86b30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781076267842:ios:caa609469b183473ddbedb</string>
</dict>
</plist>